@font-face{
    font-family:'CocaCola';
    src: url(fonts/CocaCola.woff); 
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Tahoma';
    scroll-behavior: smooth;
    border: 10px black;
}

.block1 {
    background-image: url(images/bg-1.jpg);
    color: white;
    line-height: 2em;
}

.block2 {
    background-image: url(images/bg-2.jpg);
    color: black;
    line-height: 2em;
    background: linear-gradient(#fff, #c1e5f3,#fff);
}

.block3 {
    background-image: url(images/bg-3.jpg);
}

.page {
    width:100%;
    min-height:100vh; 
    text-align: center; 
}

.sp {
    font-family:'CocaCola';
    color:#f7df04;
    font-size: 50px;
    margin-top: 45px;
    display: inline-block;
    font-weight: normal;
    
}

.next {
    color: #04efe0;
    font-family:'CocaCola';
    font-size: 25px;
    margin-top: 60px;
    display: inline-block;
}

.next2 {
    color: #053a36;
    font-family:'CocaCola';
    font-size: 25px;
    margin-top: 60px;
    display: inline-block;
}

.next3 {
    color: #497a11;
    font-family:'CocaCola';
    font-size: 25px;
    margin-top: 60px;
    display: inline-block;
}

.image {
    width:20vw;
    height:40vh;
}

.table1 {
    width: 100px;
    height: 100px; 
    border: 6px solid rgb(77, 6, 241);
    background: #f3f71b;
    border-radius: 70px 20px;
    padding: 15px;
    box-shadow: 15px 15px 40px 20px rgba(146, 21, 146);
    font-family:'CocaCola';
    margin:0 auto;
    margin-top: 100px;
}

.rock li {
    display: inline-block;
    list-style-type: none; 
    padding: 20px;
    background-color: rgba(228, 22, 228,0.5);
    margin-left: -5px;
    border-radius: 0px;
}
.rock {
    margin: 0px;
    padding: 0 0 0 5px;
    text-align: left;
    background-color: rgba(228, 22, 228,1);
}

.rock li:hover {
    background: #2f05ee;
    border-radius: 20px;
}

.text {
    color: white;
    font-size: 115%;
    text-decoration: none;
    font-family:'Tahoma';
}

.text:visited {
    color:  #f0ec06;
}

.roll {
    margin-right: 15px; 
}
.text:active {
    color: #f70418;
}
.tt {
    border-top: solid 5px black;
    margin-top: -5px;
}

 .rock li:hover, 
 .rock li:first-child {
    background-color: #2f05ee;
}

.content {
    width: 90%;
    margin: 0 auto;
}



















